.profile-body {
  width: 80%;
  margin: 0 auto;
  padding-top: 75px;
  display: flex;
}
.update-profile {
  width: 50%;
}
.profile-image {
  width: 50%;
}
.section-title {
  font-size: 20px;
  font-weight: 600;
  color: #542bb4;
}
.update-profile p {
  font-size: 14px;
  color: #9b9b9b;
}
.setting-edit span {
  color: #4a4a4a;
  font-size: 14px;
  padding-bottom: 5px;
}
.profile-body form {
  padding-top: 20px;
}
.profile-image p {
  color: #9b9b9b;
  font-size: 14px;
  width: 235px;
  margin: 0 auto;
}
